<footer class="footer" id="footer">
	<div class="container footer__inner">

		<div
			class="footer__top">

			<!-- Brand / disclaimer -->
			<div class="footer__brand">
				<div class="footer__logo">
					<img src="{{ asset('media/logo.png') }}" alt="ATINE">
					<span>ATINE</span>
				</div>

				<p class="footer__disclaimer">
					ATINE є дієтичною добавкою. Продукт не призначений для
					діагностики, лікування чи профілактики будь-яких захворювань
					і не замінює призначене лікарем лікування.
					Рішення щодо застосування ATINE, особливо на фоні
					онкологічного або іншого спеціалізованого лікування,
					слід приймати разом із вашим лікарем.
				</p>

				<div class="footer__socials">
					<a href="https://www.instagram.com/atine.ua" aria-label="Instagram">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
							<path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
							<line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
						</svg>
					</a>
					<a href="https://www.youtube.com/@ATINEhealth" aria-label="YouTube">
						<svg width="64px" height="64px" viewbox="0 0 192 192" xmlns="http://www.w3.org/2000/svg" fill="none">
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
							<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
							<g id="SVGRepo_iconCarrier">
								<path stroke="currentColor" stroke-width="12" d="M170 96c0-45-4.962-49.999-50-50H72c-45.038.001-50 5-50 50s4.962 49.999 50 50h48c45.038-.001 50-5 50-50Z"></path>
								<path stroke="currentColor" stroke-linejoin="round" stroke-width="12" d="M118 96 82 74v44l36-22Z"></path>
							</g>
						</svg>
					</a>
					<a href="https://www.facebook.com/atine.ua" aria-label="Facebook">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
						</svg>
					</a>
				</div>
			</div>

			<!-- Products -->
			<div class="footer__col">
				<h4>Наукові публікації</h4>
				<ul>
					<li><a href="https://doi.org/10.12775/PPS.2025.22.64029">Експериментальне дослідження ATINE</a></li>
					<li><a href="https://doi.org/10.12775/JEHS.2025.83.64405">Біоактивні компоненти ATINE</a></li>
					<li><a href="https://doi.org/10.12775/JEHS.2025.80.60626">Імуномодулююча дія ATINE</a></li>
					<li><a href="https://doi.org/10.12775/JEHS.2025.82.62835">Клінічні ефекти ATINE</a></li>
				</ul>
			</div>

			<div class="footer__col">
				<h4>Патенти</h4>
				<ul>
					<li><a href="https://drive.google.com/file/d/1v_H_nfLiTJegtiOvc4Htrku3E35XkEya/view?usp=sharing">Корисна модель</a></li>
				</ul>
			</div>

		</div>

		<div class="footer__bottom">
			{% set startYear = 2025 %}
			{% set currentYear = "now"|date("Y") %}
			<span>© {{ startYear }}{% if currentYear > startYear %}–{{ currentYear }}{% endif %} ATINE. Усі права захищені.</span>

			<div class="footer__legal">
				Designed and developed by <a href="https://www.instagram.com/helldemid/" target="_blank" rel="noopener noreferrer">helldemid</a>
			</div>
		</div>

	</div>
</footer>
